//! ALL RED COMMENTED SECTIONS ARE PLACES WHERE POTENTIAL CHANGES ARE NEEDED BASED UPON YOUR APPLICATION
//! Make sure to update your CSS styling for wherever you changed players from the className to something that fit your application
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

//? Default global settings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
}

//? Global CSS Variables
$color-primary: orangered;

//? GLOBAL STYLING
.btn {
  background-color: orangered;

  &-link {
    color: white;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: black;
    }
  }
}

.icon:hover {
  cursor: pointer;
}

//? HOME PAGE STYLING
.home__container {
  h2 {
    color: red;
    font-weight: 500;
  }
}

//? NAVBAR STYLING
.navbar {
  background-color: black;

  .ul-container {
    position: relative;
    width: 100%;
  }
  .navbar--ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 0.5%;

    .navbar--ul-link {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      display: block;
      height: 100%;
    }

    // Logo/Home icon
    .icon-home3 {
      position: absolute;
      left: -10rem;
      height: 2rem;
      fill: white; // Changes color of icon
    }
  }
}

//? CREATE & EDIT PAGES - NewPlayer.js and EditPlayer.js contain the same formatting

.form {
  position: relative;
  height: 100vh;
  width: 100vw;

  // Desktops
  @media (min-width: 1000px) {
    height: 110vh;
  }

  // Image with colored background and last argument in rgba is the opacity
  background-image: linear-gradient(
      to bottom,
      rgba(241, 90, 34, 0.4),
      rgba(241, 90, 34, 0.4)
    ),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Jv7IdhKBSmj37FQbeEwPjXXh1D5mKkAU1w&usqp=CAU');

  &__wrapper {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $color-primary;
    width: 80%;
    z-index: 100; // In order to use z-index you must have a positioned element
    background-color: white;
    opacity: 1;

    // Mobile Phones
    @media (min-width: 320px) and (max-width: 488px) {
      top: 89%;
      left: 50%;
      width: 100%;
      font-size: 0.8rem;
    }

    // Ipads and Tablets
    @media (min-width: 489px) and (max-width: 768px) {
      top: 47%;
      left: 50%;
      width: 90%;
      font-size: 1rem;
    }

    // Laptops
    @media (min-width: 769px) and (max-width: 1024px) {
      top: 39%;
      left: 50%;
      width: 85%;
      font-size: 1rem;
    }

    // Desktops
    @media (min-width: 1025px) and (max-width: 1200) {
      top: 15%;
      width: 75%;
      font-size: 1.4rem;
    }

    // Large Screens
    @media (min-width: 1201px) and (max-width: 1280) {
      top: 40%;
      width: 70%;
      font-size: 1.6rem;
    }

    // Extra Large Screens
    @media (min-width: 1281px) {
      top: 45%;
      width: 65%;
      font-size: 1.6rem;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: $color-primary;
    text-align: center;
    margin: 2rem 0;
  }

  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 15rem;
    margin-left: 15rem;

    @media (min-width: 320px) {
      justify-content: space-evenly;
    }

    @media (min-width: 1201px) {
      margin-right: 35rem;
      margin-left: 35rem;
    }

    .form__input {
      @media (min-width: 320px) {
        margin: 0rem 2rem;
      }
    }
  }

  &__number {
    margin: 3rem auto;

    @media (min-width: 320px) {
      width: 15%;
    }
  }

  &__position {
    &-selections {
      display: flex;
      justify-content: space-evenly;

      @media (min-width: 320px) {
        flex-direction: column;
      }
    }

    &-heading {
      color: $color-primary;
      text-align: center;

      @media (min-width: 320px) {
        text-align: left;
      }
    }

    &-input {
      margin: 0 0.5rem;
    }
  }

  &__height-weight-born {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 25rem;
    margin-right: 25rem;

    @media (min-width: 320px) {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      justify-content: space-evenly;
    }

    .form__born-input {
      width: 55%;
    }
  }

  &__teamDivision {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }

  &-team {
    width: 50rem;
  }

  &__level {
    display: flex;

    h3 {
      color: $color-primary;
      text-align: center;
    }

    &-checkboxes {
      display: flex;
      justify-content: space-around;
    }

    &-checkbox-input {
      margin-right: 0.5rem;
    }
  }

  &__img {
    width: 50%;
    margin: 2rem 2rem;
  }

  &__email {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 7rem;
    margin-left: 2rem;
  }

  &__btn-back {
    position: absolute;
    left: 25%;
    height: 5%;
    width: 25%;
    bottom: 0;
    margin-top: 5rem;
    font-size: 1.4rem;

    @media (min-width: 320px) {
      font-size: 1rem;
      height: 4%;
    }

    .form__btn-link {
      text-decoration: none;
      color: white;

      @media (min-width: 1281px) {
        font-size: 1.6rem;
      }
    }

    .form__btn-link:hover {
      color: black;
    }
  }

  &__btn-submit {
    position: absolute;
    left: 50%;
    height: 5%;
    width: 25%;
    bottom: 0;
    margin-left: 5rem;
    font-size: 1.4rem;

    @media (min-width: 320px) {
      font-size: 1rem;
      height: 4%;
    }

    @media (min-width: 1281px) {
      font-size: 1.6rem;
    }
  }
}

//? INDEX PAGE - Roster.js
.index-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 1.4rem;

  h1 {
    color: $color-primary;
    margin-top: 2rem;
  }

  table {
    width: 100%;
    margin-left: 2rem;
    margin-top: 3rem;

    tr {
      line-height: 5.4rem; // Adjusts spacing between table rows
    }

    .index__player {
      width: 100%;
      border-bottom: 1px solid #dedede;

      &-pic-td {
        // Gets rid of big gap between player and # headings and brings columns closer together
        width: 25rem;
      }

      &-link,
      :link {
        display: flex;
        align-items: center;
        text-decoration: none;

        .index__player-name {
          color: black;
          text-decoration: none;
          margin-left: 0.5rem;
        }
      }

      // Hover over player profile pic and name
      &-link:hover {
        transform: scale(1.1);

        .index__player-name {
          color: $color-primary;
        }
      }

      &-pic {
        border-radius: 50%;
        border: 3.5px solid #dedede;

        height: 5.5rem;
        width: 5.5rem;
      }
    }
  }
  .btn-index {
    margin-top: 2rem;
  }

  .icon-sortAZ {
    position: absolute;
    top: 4rem;
    height: 2rem;
    width: 2rem;
    border: 2px solid orangered;
  }
}

//? SHOW PAGE - ShowPlayer.js

.player {
  display: flex;
  flex-direction: column;

  &__backgroundPic {
    &-img {
      margin-left: 10%;
      display: block;
      height: 60vh;
      width: 100vw;
      object-fit: none;
      object-position: 0% 25%;

      // Mobile Phones
      @media (min-width: 320px) and (max-width: 488px) {
        height: 20vh;
      }

      // Ipads and Tablets
      @media (min-width: 489px) and (max-width: 768px) {
      }

      // Laptops
      @media (min-width: 769px) and (max-width: 1024px) {
        height: 30vh;
      }

      // Desktops
      @media (min-width: 1025px) and (max-width: 1200) {
      }

      // Large Screens
      @media (min-width: 1201px) and (max-width: 1280) {
      }

      // Extra Large Screens
      @media (min-width: 1281px) {
        height: 40vh;
        width: 70vw;
        margin: 0 auto;
      }
    }
  }

  &__profilePic {
    display: flex;
    justify-content: center;
    margin-top: -7rem;

    &-img {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;

      // Mobile Phones
      @media (min-width: 320px) and (max-width: 488px) {
        height: 6rem;
        width: 6rem;
        margin-top: 3.5rem;
      }

      // Ipads and Tablets
      @media (min-width: 489px) and (max-width: 768px) {
      }

      // Laptops
      @media (min-width: 769px) and (max-width: 1024px) {
      }

      // Desktops
      @media (min-width: 1025px) and (max-width: 1200) {
      }

      // Large Screens
      @media (min-width: 1201px) and (max-width: 1280) {
      }

      // Extra Large Screens
      @media (min-width: 1281px) {
      }
    }
  }

  &__attributes {
    &-headings {
      text-align: center;
    }

    &-name-number {
      font-size: 2.8rem;
      margin-top: 1rem;

      // Mobile Phones
      @media (min-width: 320px) and (max-width: 488px) {
        font-size: 1.8rem;
      }

      // Ipads and Tablets
      @media (min-width: 489px) and (max-width: 768px) {
      }

      // Laptops
      @media (min-width: 769px) and (max-width: 1024px) {
      }

      // Desktops
      @media (min-width: 1025px) and (max-width: 1200) {
      }

      // Large Screens
      @media (min-width: 1201px) and (max-width: 1280) {
      }

      // Extra Large Screens
      @media (min-width: 1281px) {
      }
    }

    &-position-height-weight-age {
      font-size: 2rem;
      margin-top: 1rem;

      // Mobile Phones
      @media (min-width: 320px) and (max-width: 488px) {
        font-size: 1.2rem;
      }

      // Ipads and Tablets
      @media (min-width: 489px) and (max-width: 768px) {
      }

      // Laptops
      @media (min-width: 769px) and (max-width: 1024px) {
      }

      // Desktops
      @media (min-width: 1025px) and (max-width: 1200) {
      }

      // Large Screens
      @media (min-width: 1201px) and (max-width: 1280) {
      }

      // Extra Large Screens
      @media (min-width: 1281px) {
      }
    }
  }

  &__stats {
    &-table {
      display: relative;
      width: 90vw;
      height: fit-content;
      margin: 5rem 5rem;
      color: black;
      // border-top: 40px solid #dedede;
      // border-bottom: 40px solid #dedede;
      // border-left: 30px solid #dedede;
      // border-right: 30px solid #dedede;
      box-shadow: 20px 20px 50px orangered;

      caption {
        position: absolute;
        top: 63rem;
        font-size: 2rem;
        font-weight: 700;
        color: black;
        width: 90vw;
        text-align: left;

        // Mobile Phones
        @media (min-width: 320px) and (max-width: 488px) {
        }

        // Ipads and Tablets
        @media (min-width: 489px) and (max-width: 768px) {
        }

        // Laptops
        @media (min-width: 769px) and (max-width: 1024px) {
        }

        // Desktops
        @media (min-width: 1025px) and (max-width: 1200) {
        }

        // Large Screens
        @media (min-width: 1201px) and (max-width: 1280) {
        }

        // Extra Large Screens
        @media (min-width: 1281px) {
          top: 71rem;
        }
      }

      th {
        background-color: black;
        color: white;
        height: 3rem;
      }
    }
  }

  .btn {
    position: relative;
    left: 41%;
    background-color: orangered;
    margin-top: 52rem;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;

    &-link {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

//? SCORES PAGE - Scores.js

.scores-wrapper {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: lightgray;

  input {
    border-radius: 0;
    font-size: 1vw;
  }

  .filters {
    padding: 1vh 0;
    background-color: lightgray;
    font-size: 1vw;
    text-align: center;

    &-single {
      margin: 0.5vh 0;
    }

    button {
      color: black;
      font-weight: 500;
      background-color: darkgray;
      border: 2px solid black;
      box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
      margin-top: 0.4vh;
    }

    button:hover {
      filter: contrast(120%);
      font-weight: 700;
    }

    button:active {
      transform: translateY(1px);
    }
  }

  .scores-date {
    margin-top: 1.5vh;
    font-size: 1.5vw;
  }

  .scores-section-container {
    display: relative;
    width: 100%;
    height: fit-content;
    background-color: lightgray;

    #no-games-message {
      color: red;
      font-size: 1.5vw;
      font-style: italic;
      display: block;
      width: 100%;
      position: fixed;
      top: 50%;
      text-align: center;
    }
    .scores-section {
      background-color: white;
      width: 50%;
      height: 25vh;
      margin-left: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-top: 1px solid darkgray;
      border-bottom: 1px solid darkgray;

      &:hover {
        background-image: linear-gradient(
            to right bottom,
            /* gradient runs from right to bottom */ rgba(black, 0.8),
            /* opacity number on end (0.8) allows you to see less of image the closer it is to 1. The closer to 0 the less gradient color you see and you see more of the original image */
              rgba(black, 0.4)
          ),
          /* opacity number on end (0.8) allows you to see less of image the closer it is to 1. The closer to 0 the less gradient color you see and you see more of the original image */
            url('https://media.jlgarchitects.com/jlgice-blobstorage/2020/02/CC-Robson-Arena_bowl_200218.jpg');
        background-size: cover;
        background-position: 25%;
        color: white;
      }

      .scores {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 50%;

        &-name {
          font-size: 1.3vw;
          font-weight: 500;
        }

        &-record {
          font-size: 1vw;
          font-weight: 400;
        }

        &-score {
          font-size: 1.5vw;
          font-weight: 900;
        }

        img {
          margin: auto;
          display: block;
          width: 5vw;
          animation-name: logoRotation; /* Reference the animation name below */
          animation-duration: 15s; /* Duration of your animation */
          animation-iteration-count: infinite; /* Can put a # of times you want animation to run such as 5; Also can put infinite here for animation to continuously run */
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    margin-top: 0.5vh;
  }
}

@keyframes logoRotation {
  /* Animation of the team logs spinning on scores page */
  0% {
    transform: scale(1);
  } /* This changes the size of your text. The bigger the number the bigger the text */
  25% {
    transform: rotatey(180deg);
  } /* This changes the size of your text. The bigger the number the bigger the text */
  50% {
    transform: rotatey(360deg);
  } /* This changes the size of your text. The bigger the number the bigger the text */
  75% {
    transform: rotatey(180deg);
  } /* This changes the size of your text. The bigger the number the bigger the text */

  100% {
    transform: rotatey(360deg);
    transform: scale(1);
  } /* rotatey flips the text horizontally */
}

//? Standings.js PAGE
.standings-container {
  .filters-single:first-child {
    margin-top: 3vh;
  }

  .filters-single {
    margin-top: 2vh;
    margin-left: 42.5%;
    font-size: 0.8vw;
  }

  .team-link {
    text-decoration: none;
    color: black;
  }
  .team-link:hover {
    color: orangered;
  }

  h1 {
    margin: 3vh 0 0 0;
    text-align: center;
    font-size: 1.5vw;
  }

  table {
    margin: 1.5vh auto;
    table-layout: auto;
    width: 50%;
    text-align: center;
    font-size: 0.8vw;

    img {
      width: 2vw;
    }

    tr {
      height: 5vh;
    }

    tr th:first-child {
      text-align: left;
      width: 25%;
      background-color: lightgray;

      &:hover {
        color: orangered;
      }
    }

    td:nth-child(6) {
      background-color: rgba(1, 131, 218, 0.1);
    }

    #header-team {
      text-align: center;
      background-color: black;
      color: white;
    }

    .ranking {
      display: inline-block;
      width: 0.4vw;
      margin: 0 1vw 0 0.5vw;
    }

    th:not(:first-child) {
      background-color: black;
      color: white;
    }

    th > span {
      margin-left: 0.5vw;
      font-size: 0.8vw;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  }
}

//? Team.js PAGE
.team-container {
  &-name {
    text-align: center;
    margin-top: 5vh;
    font-size: 1.5vw;
  }

  .team-name {
    text-align: center;
    font-size: 1.3vw;
    margin-top: 3vh;
  }

  table {
    margin: 1.5vh auto;
    table-layout: fixed;
    width: 50%;
    text-align: center;
    font-size: 0.5vw;

    img {
      width: 4vw;
      height: 8vh;
      border-radius: 50%;
      border: 3.5px solid gray;
      margin-left: 0.5vw;
    }

    .team-players {
      line-height: 9vh;
      border-bottom: 1px solid lightgray;
    }

    th {
      background-color: black;
      color: white;
    }

    #team-headers {
      font-size: 0.6vw;
      line-height: 3vh;
    }

    .team-profile {
      text-align: left;
      width: 130%;
      background-color: #dedede;
      color: black;
      display: flex;
      align-items: center;

      p {
        margin-left: 0.5vw;
      }
    }
  }
}
