//! ALL RED COMMENTED SECTIONS ARE PLACES WHERE POTENTIAL CHANGES ARE NEEDED BASED UPON YOUR APPLICATION
//! Make sure to update your CSS styling for wherever you changed players from the className to something that fit your application
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

//? Default global settings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
}

//? Global CSS Variables
$color-primary: orangered;

//? GLOBAL STYLING
.btn {
  background-color: orangered;

  &-link {
    color: white;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: black;
    }
  }
}

.icon:hover {
  cursor: pointer;
}

//? HOME PAGE STYLING
.home__container {
  h2 {
    color: red;
    font-weight: 500;
  }
}

//? NAVBAR STYLING
.navbar {
  background-color: black;

  .ul-container {
    position: relative;
    width: 100%;
  }
  .navbar--ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 0.5%;

    .navbar--ul-link {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;
    }

    // Logo/Home icon
    .icon-home3 {
      position: absolute;
      left: -10rem;
      height: 2rem;
      fill: white; // Changes color of icon
    }
  }
}

//? CREATE & EDIT PAGES - NewPlayer.js and EditPlayer.js contain the same formatting

.form {
  position: relative;
  height: 100vh;
  width: 100vw;

  // Desktops
  @media (min-width: 1000px) {
    height: 110vh;
  }

  // Image with colored background and last argument in rgba is the opacity
  background-image: linear-gradient(
      to bottom,
      rgba(241, 90, 34, 0.4),
      rgba(241, 90, 34, 0.4)
    ),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Jv7IdhKBSmj37FQbeEwPjXXh1D5mKkAU1w&usqp=CAU');

  &__wrapper {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $color-primary;
    width: 80%;
    z-index: 100; // In order to use z-index you must have a positioned element
    background-color: white;
    opacity: 1;

    // Mobile Phones
    @media (min-width: 320px) and (max-width: 488px) {
      top: 89%;
      left: 50%;
      width: 100%;
      font-size: 0.8rem;
    }

    // Ipads and Tablets
    @media (min-width: 489px) and (max-width: 768px) {
      top: 47%;
      left: 50%;
      width: 90%;
      font-size: 1rem;
    }

    // Laptops
    @media (min-width: 769px) and (max-width: 1024px) {
      top: 39%;
      left: 50%;
      width: 85%;
      font-size: 1rem;
    }

    // Desktops
    @media (min-width: 1025px) and (max-width: 1200) {
      top: 15%;
      width: 75%;
      font-size: 1.4rem;
    }

    // Large Screens
    @media (min-width: 1201px) and (max-width: 1280) {
      top: 40%;
      width: 70%;
      font-size: 1.6rem;
    }

    // Extra Large Screens
    @media (min-width: 1281px) {
      top: 45%;
      width: 65%;
      font-size: 1.6rem;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: $color-primary;
    text-align: center;
    margin: 2rem 0;
  }

  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 15rem;
    margin-left: 15rem;

    @media (min-width: 320px) {
      justify-content: space-evenly;
    }

    @media (min-width: 1201px) {
      margin-right: 35rem;
      margin-left: 35rem;
    }

    .form__input {
      @media (min-width: 320px) {
        margin: 0rem 2rem;
      }
    }
  }

  &__number {
    margin: 3rem auto;

    @media (min-width: 320px) {
      width: 15%;
    }
  }

  &__position {
    &-selections {
      display: flex;
      justify-content: space-evenly;

      @media (min-width: 320px) {
        flex-direction: column;
      }
    }

    &-heading {
      color: $color-primary;
      text-align: center;

      @media (min-width: 320px) {
        text-align: left;
      }
    }

    &-input {
      margin: 0 0.5rem;
    }
  }

  &__height-weight-born {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 25rem;
    margin-right: 25rem;

    @media (min-width: 320px) {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      justify-content: space-evenly;
    }

    .form__born-input {
      width: 55%;
    }
  }

  &__teamDivision {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }

  &-team {
    width: 50rem;
  }

  &__level {
    display: flex;

    h3 {
      color: $color-primary;
      text-align: center;
    }

    &-checkboxes {
      display: flex;
      justify-content: space-around;
    }

    &-checkbox-input {
      margin-right: 0.5rem;
    }
  }

  &__img {
    width: 50%;
    margin: 2rem 2rem;
  }

  &__email {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 7rem;
    margin-left: 2rem;
  }

  &__btn-back {
    position: absolute;
    left: 25%;
    height: 5%;
    width: 25%;
    bottom: 0;
    margin-top: 5rem;
    font-size: 1.4rem;

    @media (min-width: 320px) {
      font-size: 1rem;
      height: 4%;
    }

    .form__btn-link {
      text-decoration: none;
      color: white;

      @media (min-width: 1281px) {
        font-size: 1.6rem;
      }
    }

    .form__btn-link:hover {
      color: black;
    }
  }

  &__btn-submit {
    position: absolute;
    left: 50%;
    height: 5%;
    width: 25%;
    bottom: 0;
    margin-left: 5rem;
    font-size: 1.4rem;

    @media (min-width: 320px) {
      font-size: 1rem;
      height: 4%;
    }

    @media (min-width: 1281px) {
      font-size: 1.6rem;
    }
  }
}

//? INDEX PAGE - Roster.js
.index-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 1.4rem;

  h1 {
    color: $color-primary;
    margin-top: 2rem;
  }

  table {
    width: 100%;
    margin-left: 2rem;
    margin-top: 3rem;

    tr {
      line-height: 5.4rem; // Adjusts spacing between table rows
    }

    .index__player {
      width: 100%;
      border-bottom: 1px solid #dedede;

      &-pic-td {
        // Gets rid of big gap between player and # headings and brings columns closer together
        width: 25rem;
      }

      &-link,
      :link {
        display: flex;
        align-items: center;
        text-decoration: none;

        .index__player-name {
          color: black;
          text-decoration: none;
          margin-left: 0.5rem;
        }
      }

      // Hover over player profile pic and name
      &-link:hover {
        transform: scale(1.1);

        .index__player-name {
          color: $color-primary;
        }
      }

      &-pic {
        border-radius: 50%;
        border: 3.5px solid #dedede;

        height: 5.5rem;
        width: 5.5rem;
      }
    }
  }
  .btn-index {
    margin-top: 2rem;
  }

  .icon-sortAZ {
    position: absolute;
    top: 4rem;
    height: 2rem;
    width: 2rem;
    border: 2px solid orangered;
  }
}

//? SHOW PAGE - ShowPlayer.js

.player {
  position: relative;
  height: 100vh;

  &__background-image {
    position: relative;
    margin: auto;
    height: 35vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5px -20px;
  }

  &__profilePic {
    display: flex;
    justify-content: center;
  }
  &__profilePic-img {
    position: absolute;
    display: block;
    text-align: center;
    bottom: -5rem;
    border-radius: 50%;
    border: 3.5px solid #dedede;
    height: 12rem;
    width: 12rem;

    // Extra Large Screens
    @media (min-width: 1281px) {
      height: 20rem;
      width: 20rem;
      bottom: -10rem;
    }
  }

  &__name-number {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 70vw;
    left: 0%;
    top: 125%;
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Orbitron', sans-serif;
  }

  .btn {
    position: relative;
    left: 41%;
    background-color: orangered;
    margin-top: 52rem;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;

    &-link {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
