//! ALL RED COMMENTED SECTIONS ARE PLACES WHERE POTENTIAL CHANGES ARE NEEDED BASED UPON YOUR APPLICATION
//! Make sure to update your CSS styling for wherever you changed players from the className to something that fit your application
//? Default global settings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
}

//? Global CSS Variables
$color-primary: orangered;

//? GLOBAL BUTTONS
.btn {
  background-color: orangered;

  &-link {
    color: white;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: black;
    }
  }
}

//? HOME PAGE STYLING
.home__container {
  h2 {
    color: red;
    font-weight: 500;
  }
}

//? NAVBAR STYLING
.navbar {
  background-color: black;

  .ul-container {
    width: 100%;
  }
  .navbar--ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 0.5%;

    .navbar--ul-link {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;
    }
  }
}

//? CREATE & EDIT PAGES - NewPlayer.js and EditPlayer.js contain the same formatting

.form {
  position: relative;
  margin: 7rem 0rem;

  &__wrapper {
    border: 3px solid $color-primary;
    margin: 0 auto;
    width: 80%;
  }

  h1 {
    color: $color-primary;
    text-align: center;
    margin: 2rem 0;
  }

  &__name {
    display: flex;
    justify-content: center;

    .form__first-input {
      width: 70%;
    }

    .form__last-input {
      width: 70%;
    }
  }

  &__number {
    margin: 3rem auto;
  }

  &__position {
    &-selections {
      display: flex;
      justify-content: space-evenly;
    }

    &-heading {
      color: $color-primary;
      text-align: center;
    }
  }

  &__height {
  }

  &__weight {
  }

  &__born {
  }

  &__team {
  }

  &__division {
  }

  &__location {
  }

  &__level {
  }

  &__img {
  }
}

//? INDEX PAGE - Roster.js
.index-container {
  width: 100vw;
  height: 100vh;
  font-size: 1.4rem;

  h1 {
    color: $color-primary;
    margin-top: 2rem;
  }

  table {
    width: 100%;
    margin-left: 2rem;

    .index__player {
      width: 100%;
      border-bottom: 1px solid #dedede;

      &-pic-td {
        // Gets rid of big gap between player and # headings and brings columns closer together
        width: 25rem;
      }

      &-link,
      :link {
        display: flex;
        align-items: center;
        text-decoration: none;

        .index__player-name {
          color: black;
          text-decoration: none;
          margin-left: 0.5rem;
        }
      }

      // Hover over player profile pic and name
      &-link:hover {
        transform: scale(1.1);

        .index__player-name {
          color: $color-primary;
        }
      }

      &-pic {
        border-radius: 50%;
        border: 3.5px solid #dedede;

        height: 5.5rem;
        width: 5.5rem;
      }

      .btn-index {
        position: relative;
        left: 40%;
        width: 10%;
        margin-top: 2rem;
      }
    }
  }
}

//? SHOW PAGE - ShowPlayer.js
.container__single-player {
  //! Change
  .table__single-player {
    //! Change
    margin-left: 40%;
    margin-top: 10%;
    th {
      padding: 0rem 1rem;
      background-color: black;
      color: white;
    }
    td {
      padding: 0rem 1rem;
    }
  }

  .btn {
    position: relative;
    left: 41%;
    background-color: orangered;
    margin-top: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;

    &-link {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
